<div class="block">
    <ul class="menu-v with-icons">
        {foreach $menus as $menu}
        <li data-menu-id="{$menu.id|escape}">
            <a href="#/menu/{$menu.id}/" class="bold">
                <i class="icon16 {$menu.type|escape}" data-menu-icon></i> <span data-menu-name>{$menu.name}</span>
            </a>
        </li>
        {/foreach}

        <li class="top-padded bottom-padded" data-menu-id="new">
            <a href="#/menu/new/" data-menu-edit>
                <i class="icon16 add"></i> [`Add menu`]
            </a>
        </li>

    </ul>
</div>

<div class="hr"></div>

<div class="block">
    <ul class="menu-v with-icons">
        <li>
            <a href="#/settings/"><i class="icon16 settings"></i> [`Settings`]</a>
        </li>
        {if $wa->user()->isAdmin('menu')}
            <li><a href="#/plugins/"><i class="icon16 plugins"></i> [s`Plugins`]</a></li>
        {/if}
    </ul>
</div>